@model TestProject.Models.ViewModels.Autentication
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



@using (Html.BeginForm("Verify","Login", FormMethod.Post))
{

    <div class="container well">
        <div class="contenedor ">
            <div class="espacio2 ">
                <div class="row">
                    <div class="col-xl-12">
                        <h2 class="text-white"> Login</h2>

                    </div>
                    


                </div>
                <style>
                    .blanco {
                        color: white;
                    }
                </style>
                <div class="form-group row">
                    @*@Html.LabelFor(d => d.nombre,"",new {@class="col-sm-3 col-form-label text-white"})*@
                    <label class="col-sm-3 col-form-label text-white">Email</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(d => d.email, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.email, null, new { @class = "blanco" })
                        @*<input type="text" class="form-control" />*@

                    </div>
                </div>
                <br />
                <div class="form-group row">
                    @*@Html.LabelFor(d => d.nombre,"",new {@class="col-sm-3 col-form-label text-white"})*@
                    <label class="col-sm-3 col-form-label text-white">Contraseña</label>
                    <div class="col-sm-9">
                        @Html.PasswordFor(d => d.pass, new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.pass, null, new { @class = "blanco" })
                        <span class="input-group-btn">
                            <button id="verPassword" class="btn btn-default" type="button">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </button>
                        </span>

                        @*<input type="password" class="form-control" /*@>

                    </div>

                </div>
                <div class="form-group row">

                    <button value="Ingresar" type="submit" class="form-control btn btn-primary">Ingresar</button>
                </div>




            </div>

        </div>


    </div>
}
